* {
    margin: 0%;
    width: 100%;
    box-sizing: border-box;
}

@font-face {
    src: url("fontovi/script_font.otf");
    font-family: noviFont;
}
html body {   
    overflow-x: hidden;
}
#omotac {  
    width: 1366px;
}
#pozadina {
    background-image: url("slike/background.jpg");
    height: 780px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: noviFont;
    color: white;
    font-weight: bold;
    text-align: center;
}
#centar {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 26%;
    left: 1%;
    align-items: center;
    justify-content: space-between;
}
.ornament {
    width: 20%;
    margin: 20px;
}
#donji {
    transform: rotate(180deg);     
}
h1 {    
    font-size: 8em;
}
h4 {  
    font-size: 1.6rem;
}
#strelica {   
    width: 10%;
    height: 10%;   
}
#srednji {
    width: 100%;
    height: 780px;
    background-position: center;
    box-sizing: border-box;
    align-content: center;
    color: black;
    padding: 0% 20%;
    flex-wrap: nowrap;
}
h5 {
    font-family: noviFont;
    font-size: x-large;
    margin: 5% 0% 3% 0%;
}
p {
    font-size: medium;
    margin: 0% 0% 2% 0%;
}
#slike {
    display: flex;
    justify-content: space-between;
}
.cvece {
    width: 31%;
    height: 31%;
    padding: 1%;
    border: 2px solid lightgray;
    box-shadow: 2px 2px 2px 4px lightgray;
    
}
.ponuda {
    display: flex;
    align-content: space-between;
    font-size: x-large;
    font-weight: bold;
    padding: 6% 0%;
}
.cena {
    width: 70%;
    text-align: right;
    color: #ff7f27;
}
#uslovi {
    height: 50%;
    display: flex;
    padding-top: 3%;
}
.uslovi {
    width: 50%;
    height: 80%;
    border-bottom: solid 2px lightgrey;
    padding: 2%;
}
li {
    padding: 2%;
}
table {
    border: solid 2px grey;
    text-align: center;
}
td {
    border: 2px white solid;
    padding: 2%;
}
.siva {
    background-color: lightgrey;
}
#ikonice {
    text-align: center;
}
#drustvene {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.krug {
    width: 6%;
    height: 6%;
    border-radius: 50%;
    margin: 1%;
}
footer {
    background-color: #ffca18;
    padding: 1%;
    color: white;
    text-align: center;
    border: solid 2px lightgrey;
}
@media screen and (max-width: 375px){
    #omotac{
        width: 377px;        
    }
    #pozadina{
        height: 215px;
    }
    #centar{
        top: 10%;
    }
    .ornament{
        width: 30%;
        margin: 0px;
    }
    h1{
        font-size: 3.5em;
    }
    h4{
       font-size: 0.7em;        
    }
    #donji{
        
    }
    #strelica{
        
    }
    #srednji{
        height: 100%;
    }
    #slike{
        flex-direction: column;
        justify-content: space-around;
    }
    .cvece{
        width: 100%;
        margin-bottom: 20px;
    }
    #uslovi{
        flex-direction: column;
    }
    .uslovi{
        width: 100%;
    }
}